# Project
/.metadata/

# Diagrams
/diagrams/*.bkp

# App
/app/.settings/
/app/bin/
/app/.classpath
/app/.project
/app/src/hibernate.cfg.xml

### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea/
